<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controllers.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsListController</servlet-name>
        <servlet-class>Controllers.SettingsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSettingsController</servlet-name>
        <servlet-class>Controllers.EditSettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingsController</servlet-name>
        <servlet-class>Controllers.AddSettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controllers.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controllers.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>Controllers.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>Controllers.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>Controllers.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlogCreateController</servlet-name>
        <servlet-class>Controllers.AdminBlogCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlogUpdateController</servlet-name>
        <servlet-class>Controllers.AdminBlogUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>Controllers.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectController</servlet-name>
        <servlet-class>Controllers.AddSubjectController</servlet-class>
        </servlet>
       <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsListController</servlet-name>
        <url-pattern>/admin/settingslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSettingsController</servlet-name>
        <url-pattern>/admin/editsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingsController</servlet-name>
        <url-pattern>/admin/addsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/home/blog/detail</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/admin/sliders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/admin/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogListController</servlet-name>
        <url-pattern>/admin/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogDeleteController</servlet-name>
        <url-pattern>/admin/blog/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogCreateController</servlet-name>
        <url-pattern>/admin/blog/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogUpdateController</servlet-name>
        <url-pattern>/admin/blog/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/admin/subjectlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectController</servlet-name>
        <url-pattern>/admin/addsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/home/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
